/*mobile navigation*/
.nav-wrapper{overflow: hidden;}
.myHeader{
	position: relative;
	z-index: 1;
	-webkit-transition: -webkit-transform .195s ease-in;
  transition: -webkit-transform .195s ease-in;
  transition: transform .195s ease-in;
  transition: transform .195s ease-in, -webkit-transform .195s ease-in;
  animation:slide-up 0.1s;
}
@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(0%);
    } 
    100% {
        opacity: 0.9;
        transform: translateY(0);
    } 
}

.myHeader-fixed{
	position: fixed;
	z-index: 2;
    -webkit-transition: -webkit-transform .195s ease-in !important;
  transition: -webkit-transform .195s ease-in !important;
  transition: transform .195s ease-in !important;
  transition: transform .195s ease-in, -webkit-transform .195s ease-in !important;
  animation:slide-down 0.7s !important;
}
@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 0.9;
        transform: translateY(0);
    } 
}
nav .button-collapse{
	float: left;
	position: relative;
	z-index: 1;
	height: 56px;
	background: #1f1a17;
	color: #fcdb00;
	padding: 0px 15px;
	border-radius: 3px;
	top: 25%;
}

.side-nav{
	background: #111 !important;
}
.side-nav li{
	color: rgb(35, 35, 35) !important;
	background: rgb(17, 17, 17);
	border-bottom: 1px solid rgba(236, 205, 0, 0.15);
}
.side-nav li>a{
	color: rgb(252, 219, 0);
	font-weight: 400;
    letter-spacing: 1px;
}



/*====Sidebar Start Here=====*/
.sidebar-area{

}
.searh-area{
    background: #fff;
    padding: 25px;
    margin-top: 0 !important;
    margin-top: 25px;
        border: 1px solid rgba(146, 146, 146, 0.7);
    box-shadow: 0px 2px 3px rgba(144, 144, 144, 0.44);
}
.searh-area:last-child{
    background: #fff;
    padding: 25px;
    margin-top: 0 !important;
    margin-top: 25px !important;
    border: 1px solid rgba(146, 146, 146, 0.7);
    box-shadow: 0px 2px 3px rgba(144, 144, 144, 0.44);
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #000;
    -webkit-box-shadow: 0 1px 0 0 #000;
    box-shadow: 0 1px 0 0 #000;
}
input:not([type]):focus:not([readonly])+label, input[type=text]:not(.browser-default):focus:not([readonly])+label, input[type=password]:not(.browser-default):focus:not([readonly])+label, input[type=email]:not(.browser-default):focus:not([readonly])+label, input[type=url]:not(.browser-default):focus:not([readonly])+label, input[type=time]:not(.browser-default):focus:not([readonly])+label, input[type=date]:not(.browser-default):focus:not([readonly])+label, input[type=datetime]:not(.browser-default):focus:not([readonly])+label, input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label, input[type=tel]:not(.browser-default):focus:not([readonly])+label, input[type=number]:not(.browser-default):focus:not([readonly])+label, input[type=search]:not(.browser-default):focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
    color: #000;
}
.btn-search {
/*    background: #000;
    width: 100%;
    padding: 0px;
    border: 2px solid #000;
    line-height: 2.2rem;*/
    width: 100%;
    color: #9bb2ca !important;
    padding: 0px !important;
    border: 2px solid #000;
    background: #000;
}
.btn:hover{
    background: #000 !important;
    color: #9bb2ca !important;
    
}
.btn-search:hover {
    width: 100%;
    padding: 0px;
    border: 2px solid #000;
}
.box-2-heading {
    padding: 0px 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    font-size: 25px;
    text-align: center;
}
.dropdown-content li>a, .dropdown-content li>span{
    color: #000;
}



.parallax-container{
    height: 300px;
    /*top: 100px;*/
}
.ttl-tours{
    position: relative;
    color: #FFF;
    z-index: 2;
    top: 120px;
    font-size: 28px;
}
.page-footer.parallax-container{
    top: 0px !important;
}

/**============= Footer =====================*/

.page-footer {
    padding-top: 0px;
    color: #fff;
    /*background-color:#141414;*/
    background:rgba(0, 0, 0, 0.85);
}
.footer-area{
	padding:25px;
}
.trip-area{

}
.trip-area h5 {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.trip-area li {
    font-size: 14px;
    font-weight: 300;
    text-transform: capitalize;
    padding: 2px 0px;
}
.trip-area li a{
    color: rgb(172, 172, 172);
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
.trip-area li a:hover{
	color: rgb(235, 235, 235) !important;
    -webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}


.popular-area{

}
.popular-area h5 {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}
.popular-area li{
	padding: 2px 0px;
}
.popular-area li a{
	font-weight: 300;
	color: rgb(164, 168, 172);
	-webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
.popular-area li a:hover
{
	color: rgba(235,235,235,1) !important;
	-webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}
.address-area h5{
	font-size: 18px;
	color: #fff;
    text-transform: uppercase;
}
.address li{
	color: rgb(164, 168, 172);
	font-weight: 300;
}
.contact-number .call{
	color: rgb(164, 168, 172) !important;
	font-weight: 300;
	display: block;
	padding: 5px 0px;
}
.mail-address-area .mail-address{
	color: rgb(164, 168, 172) !important;
	font-weight: 300;
	display: block;
	padding: 5px 0px;
}
.mail-address-area .mail-address:hover
{	
	color: rgba(235,235,235,1) !important;
	font-weight: 300;
	-webkit-transition:all 0.2s ease-in-out;
    -moz-transition:all 0.2s ease-in-out;
    -o-transition:all 0.2s ease-in-out;
    transition:all 0.2s ease-in-out;
}

.page-footer .footer-copyright{
	background:rgb(0, 0, 0);
	padding-left: 20px;
	padding-right: 20px;
}
.footer-copyright-area{
	padding: 0px 25px;
	color: #acacac;
}
.developedBy{
	text-align: left;
}
.footer-copyright-area a{
	color:rgb(146, 154, 160);
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.footer-copyright-area a:hover{
	color: rgb(255, 255, 255);
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.footer-links{
	margin: 0 auto;
	margin-right: 25px;
}
.footer-links li {
    display: inline-block;
    padding: 0px 5px;
}
.footer-links li a{
    color: rgb(146, 154, 160);
}
.footer-links li a:hover{
    color: rgb(255, 255, 255);
}
/**============== mobile Responsive area ==============*/

@media(max-width: 798px){
	nav{
		padding: 0px !important;
	}

	.location-title {
    position: absolute;
    color: #fcdb00 !important;
    z-index: 100;
    text-transform: uppercase;
    margin-top: 20px;
    letter-spacing: 1px;
    font-size: 20px;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    transform: rotate(270deg);
    bottom: 50%;
    width: 250px !important;
    left: -50px;
    text-shadow: -2px -2px 2px #000 !important;
	}
	.page-sub-title {
    font-size: 1.2em;
    line-height: 1rem;
    color: white;
    text-align: center;
    font-weight: normal;
    line-height: 3rem !important;
  	margin: 2.7rem 0 .656rem 0 !important;
	}
	.page-main-title{
		line-height: 2rem !important;
	}
}
.page-title{
    font-size: 32px;
    text-align: center;
    /*margin-top: 220px;*/
    position: relative;
    top: 130px;
    width: 100%;
}
/*============== Responsive for teblate ==========*/
@media(max-width: 1024px) {
	#mobileSlider.carousel .carousel-item{
		display: block !important;
	}
}